sftp-config.json
*.DS_Store
.tags*
build
*.ptx
tests/add
tests/convert
tests/khatri-rao
tests/kronecker
tests/loadstore
tests/mttkrp
tests/reset
tests/sttm
tests/ttm
tests/ttm_new
tests/ttm_omptest
tests/ttm_test
docs/latex
