-DCMAKE_BUILD_TYPE=RelWithDebInfo

-DBUILD_SHARED=OFF
-DBUILD_STATIC=ON

-DUSE_CUDA=OFF
-DCUDA_HOST_COMPILER=/usr/bin/gcc-5

-DUSE_OPENBLAS=ON
-DOpenBLAS_DIR=/opt/OpenBLAS/lib/cmake/openblas

-DUSE_CBLAS=OFF
-DUSE_LAPACKE=OFF
