-DCMAKE_BUILD_TYPE=RelWithDebInfo
#-DCUDA_ARCH_BIN=60

# Use Intel compiler
# -DUSE_ICC=ON
# -DCMAKE_C_COMPILER=icc
# -DCMAKE_CXX_COMPILER=icpc

# Or Use GNU compiler
-DUSE_ICC=OFF
-DCMAKE_C_COMPILER=gcc
-DCMAKE_CXX_COMPILER=g++

-DUSE_OPENMP=ON
-DUSE_KNL=OFF
-DUSE_CUDA=OFF

-DUSE_BLAS=ON
-DUSE_LAPACK=ON
-DUSE_OpenBLAS=OFF

-DUSE_MAGMA=OFF
#-DMAGMA_DIR=

-DUSE_MKL=OFF
#-DMKL_DIR=
